<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">الإجراءات</th>
        <th scope="col">انتهت</th>
        <th scope="col">عدد الجلسات</th>
        <th scope="col">تاريخ الانتهاء</th>
        <th scope="col">تاريخ البدء</th>
        <th scope="col">اسم الدورة</th>
        <th scope="col">#</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cycle of cycles; let i = index">
        <td>
          <button *ngIf="cycle && cycle.sessions && cycle.sessions.length > 0" [routerLink]="['/ParticipantHome/available-sessions', cycle.cycleId]" class="btn btn-info"><i class="bi bi-eye-fill"></i> عرض</button>
        </td>
        <td>{{ cycle.finished }}</td>
        <td>{{ cycle.sessions?.length }}</td>
        <td>{{ cycle.endDate }}</td>
        <td>{{ cycle.startDate }}</td>
        <td>{{ cycle.cycleName }}</td>
        <th scope="row">{{ i+1 }}</th>
     
      </tr>
    </tbody>
  </table>
</div>
