.table-responsive {
    overflow-x: auto;
  }
  
  @media (max-width: 768px) {
    .table-responsive {
      width: 100%;
      margin-bottom: 15px;
      overflow-y: hidden;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      -webkit-overflow-scrolling: touch;
    }
  }
  
  .text-success {
    color: green;
  }
  
  .text-danger {
    color: red; 
  }
  