<ul class="sidebar-links">

    <h4>

      <div class="menu-separator"></div>
    </h4>
    <li>
      <a href="AdminHome/manage-cycles"> <i class="bi bi-card-text"></i> إدارة الدورات</a>
    </li>
    <li>
      <a href="AdminHome/manage-users"><i class="bi bi-people-fill"></i> ادارة المستخدمين </a>
    </li>


    <h4>

      <div class="menu-separator"></div>
    </h4>

    <li>
      <a href="#" (click)="logout()"> <i class="bi bi-box-arrow-left"></i> تسجيل خروج</a>
     

    </li>
  </ul>