<ul class="sidebar-links">

    <h4>
      <span>General</span>
      <div class="menu-separator"></div>
    </h4>
    <li>
      <a href="AdminHome/manage-cycles"><span class="material-symbols-outlined"> folder </span>Manage Cycles</a>
    </li>
    <li>
      <a href="AdminHome/manage-users"><span class="material-symbols-outlined"> groups </span>Manage Users</a>
    </li>


    <h4>
      <span>Account</span>
      <div class="menu-separator"></div>
    </h4>
    <li>
      <a href="#"><span class="material-symbols-outlined"> account_circle </span>Profile</a>
    </li>

    <li>
      <a href="#" (click)="logout()"><span class="material-symbols-outlined"> logout </span>Logout</a>
     

    </li>
  </ul>